<div class="container cabeza">
  <p id="notice"><%= notice %></p>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <%= image_tag "tackle.png", class: "d-block w-100", alt: "Clínica de Tackleo seguro Rugby" %>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <%= image_tag "actitud04.png", class: "d-block w-100", alt: "actitud"  %>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <%= image_tag "disciplina04.png", class: "d-block w-100", alt: "disciplina" %>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <%= image_tag "equipo04.png", class: "d-block w-100", alt: "Valores de equipo" %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <h4 style="color:#cc5500;">Una breve muestra de lo que fué la primera parte de la clínica de tackleo seguro</h4>
      <div class="embed-responsive">  
        <iframe width="800" height="400" src="https://www.youtube.com/embed/Sk-caK_QOlk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col">
        <h4 style="color:#cc5500;">
          Se llevó a cabo con éxito la clínica de técnica segura de tackleo
        </h4>
        <p style="font-size:1.2em;">
          <b>Agradecemos la participación de los instructores (Alejandra Guzmán Rodríguez,  Adrian Medina Hernández y Carlos Velasco) de la Asociación de Rugby del Estado de Aguascalientes A. C.</b>
        </p>
        <p style="font-size:1.4em;">La técnica de tackleo utilizada en el Rugby ha sido reconocida como la más segura por equipos profesionales como 'Seattle Seahawks' y otros. 
        En Aguascalientes nos preocupamos por tu seguridad y por evolucionar la práctica hacia técnicas más seguras, por lo que hablamos con nuestro amigo el <b>Lic. Luis Miguel Durón, presidente</b> de la Asociación de Rugby del Estado
        para que imparta la clínica dirigida a coaches de los equipos de Aguascalientes. Si estás interesado ponte en <%= link_to "contacto", new_contact_path %> con nosotros.
        </p>
    </div>
    <div class="col">
      <%= image_tag "clinicaTackleo.jpg", size: "276x427" %>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col">
      <%= render 'socios' %>
    </div>
    <div class="col">
     <%= render 'categorias' %>
    </div>
  </div>
</div>