<div class="container cabeza">
  <p id="notice"><%= notice %></p>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <%= image_tag "campeonES.png", class: "d-block w-100", alt: "Juego de Campeonato categoría Intermedia" %>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <%= image_tag "actitud06.png", class: "d-block w-100", alt: "actitud"  %>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <%= image_tag "disciplina06.png", class: "d-block w-100", alt: "disciplina" %>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <%= image_tag "equipo06.png", class: "d-block w-100", alt: "Valores de equipo" %>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <%= image_tag "excelencia.png", class: "d-block w-100", alt: "Excelencia" %>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <%= image_tag "managers.png", class: "d-block w-100", alt: "Gracias a nuestras managers" %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <h4 style="color:#cc5500;">Intercepción de Julia #54</h4>
      <div class="embed-responsive">  
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gLVxAfrnM-g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <h4 style="color:#cc5500;">Jugada defensiva Cuernos Largos vs Ravens GDL categoría 40+</h4>
      <div class="embed-responsive">  
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KVgkOVydOps" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col">
        <h4 style="color:#cc5500;">
          ¡Campeones 2021!
        </h4>
        <p style="font-size:1.2em;">
          <b>La categoría Intermedia se corona campeona en el torneo de otoño</b>
        </p>
        <p style="font-size:1.4em;">En un cerrado juego la categoría Intermedia dirigida por el Coach Guillermo Delgadillo se impuso a un gran rival, Buffalos de SLP por 14 - 8
        </p>
    </div>
    <div class="col">
      <%= image_tag "campeones.jpg", size: "500x250" %>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col">
      <%= render 'socios' %>
    </div>
    <div class="col">
     <%= render 'categorias' %>
    </div>
  </div>
</div>