<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label "Nombre (*)", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label "Email (*)", class: "form-label" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label "Teléfono (*)", class: "form-label" %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label "Asunto", class: "form-label" %>
    <%= form.text_field :subject, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label "Pregunta", class: "form-label" %>
    <%= form.text_area :message, class: "form-control" %>
  </div>

  <div style="text-align:center;">
    <%= form.submit "  Enviar  ", class: "btn btn-primary" %>
  </div>
  <p>(*) Campos obligatorios</p>
<% end %>
